*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --GRAY: #656565;
}
.gray-text{
  color: var(--GRAY) !important;
}

.Home{
  width: 100%;
  position: relative;
}
button{
  border: none;
  background-color: #111;
  color: white;
  padding: 0.6vw;
  cursor: pointer;
}
@media only screen and (max-width: 960px) {
  button{
    padding: 1vw 0;
  }
}
@media only screen and (max-width: 640px) {
  button{
    padding: 2vw 0;
  }
}

.bold400{ font-weight: 400;}
.bold500{ font-weight: 500;}
.bold600{ font-weight: 600;}
.bold700{ font-weight: 700;}
.font1{ font-size: 0.8vw;}
.font2{ font-size: 1vw;}
.font3{ font-size: 1.4vw;}
.font4{ font-size: 2vw;}
.font5{ font-size: 2.5vw;}
.font6{ font-size: 3.5vw;}
.font7{ font-size: 4vw;}
.font8{ font-size: 4.5vw;}
@media only screen and (max-width: 960px) {
  .font1{ font-size: 1.3vw;}
  .font2{ font-size: 1.8vw;}
  .font3{ font-size: 2.6vw;}
  .font4{ font-size: 3.2vw;}
  .font5{ font-size: 4.5vw;}
  .font6{ font-size: 7.5vw;}
  .font7{ font-size: 6.3vw;}
  .font8{ font-size: 8.5vw;}
}
@media only screen and (max-width: 640px) {
  .font1{ font-size: 2vw;}
  .font2{ font-size: 4vw;}
  .font3{ font-size: 5vw;}
  .font4{ font-size: 6vw;}
  .font5{ font-size: 7vw;}
  .font6{ font-size: 8.5vw;}
  .font7{ font-size: 10vw;}
  .font8{ font-size: 13vw;}
}


.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  padding-right: 2vw;
  border-bottom: 2px solid #f1f1f1;
  position: sticky;
  top: 0;
  background-color: white;
  margin-bottom: 1vw;
  z-index: 20;
  background-color: white;
}
.showcase{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2vw;
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 1vw;
}


.showcase-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5vw 0;
  padding: 0 2vw;
}
.showcase-header button{
  width: 12vw;
}

.showcase-image{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  aspect-ratio: 2/1;
  background-position: center;
  background-size: cover;
}

.showcase-image p{
  background-color: white;
  padding: 0.6vw;
  width: 13vw;
  text-align: center;
}

.showcase-bottom{
  display: flex;
  padding: 0 2vw;
}
.showcase-desc{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showcase-other{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.showcase-other-images{
  display: flex;
}
.showcase-other-images > div{
  width: 14vw;
  aspect-ratio: 1/1.1;
  margin-left: 1vw;
  background-position: center;
  background-size: cover;
}


.main-body {
  padding: 0 2vw;
}
.main-body-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;
}
.main-body-cols{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ProductCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1vw 0vw;
  margin-top: 0;
  width: 19vw;
  border: 1px solid #f9f9f9;
  margin-left: 2vw;
}
.product-card-image{
  width: 100%;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.addToCartBtn{
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  display: none;
}
.product-card-image:hover .addToCartBtn {
  cursor: pointer;
  display: block;
}
.ProductCard > p{
  margin-left: 0.3vw;
}
.product-category, .product-price, .showcase-size-small{
  color: #656565;
}
.product-category{
  margin-top: 0.3vw;
  text-transform: capitalize;
}
.product-name{
  margin: 0.2vw 0;
  text-transform: capitalize;
}
.product-price{
  margin-bottom: 0.5vw;
}
.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
.gallary-photos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.gallary-pages{
  display: flex;
  padding: 1vw 0;
  align-items: center;
}
.gallary-pages > *{
  width: 3vw;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vw;
  border-radius: 50%;
}
.gallary-pages > *:hover{
  cursor: pointer;
  background-color: #f1f1f1;
}

.filter{
  width: 16vw;
}
.filter-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vw;
}
.filter-header{
  font-weight: 700;
  margin-bottom: 0.3vw;
}
.filter-body p{
  text-transform: capitalize;
}
.filter-row{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.6vw 0;
}
.filter-row input{
  margin-right: 0.5vw;
  font: 1vw;
}



.showcase-bottom{
  margin: 1vw 0;
}
.showcase-desc-head, .showcase-desc-cat, .showcase-desc-para, .showcase-other-header{
  margin-bottom: 0.5vw;
}
.nav-sub{
  color: var(--GRAY);
}
.main-body-header-right{
  display: flex;
  align-items: center;
}
.main-body-header-right select{
  border: none;
  background-color: none;
  outline: none;
}
.bestseller-tag{
  background-color: white;
  padding: 0.5vw 3vw;
}
.empty-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-switch{
  margin-right: 0.3vw;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 50%;
}
.order-switch:hover{
  background-color: #f1f1f1;
}
.cart{
  position: relative;
}
.cart-logo{
  position: relative;
  cursor: pointer;
}
.cart-bubble{
  position: absolute;
  width: 1.5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.7vw;
  right: -1vw;
}
.cart-list{
  position: absolute;
  background-color: white;
  border: 2px solid #f1f1f1;
  z-index: 10;
  width: 20vw;
  right: -2.5vw;
  top: 2.6vw;
  border-radius: 0.3vw;
  padding: 0.3vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cart-body{
  max-height: 40vw;
  overflow: auto;
  padding: 0.5vw;
  min-height: 10vw;
}
.cart-row{
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2vw 0;
}
.cart-image{
  background-image: url("https://5.imimg.com/data5/YC/GV/XN/ANDROID-83761084/product-jpeg-500x500.jpg");
  background-position: center;
  background-size: cover;
  width: 7vw;
  aspect-ratio: 1/0.7;
}
.top-cart{
  display: flex;
  justify-content: flex-end;
  padding: 0.4vw;
  border-bottom: 1px solid #f1f1f1;
}
.top-cart > *{
  cursor: pointer;
}
.cart-bottom{
  display: flex;
  justify-content: center;
  padding: 0.4vw;
  border-top: 2px solid #f1f1f1;
}
.cart-bottom button{
  width: 70%;
}
.cart-name{
  text-transform: capitalize;
}
.remove-cart{
  color: rgb(252, 82, 52);
  cursor: pointer;
  margin-top: 0.4vw;
}
.cart-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  flex-direction: column;
}


.footer { background-color: #111; color: white; display: flex; flex-direction: column; align-items: center; padding: 5vw 1.5vw 1vw 1.5vw; width: 100vw; }
.footer > div { display: flex; }
.footer-top { justify-content: space-evenly; min-height: 15vw; width: 100%; }
.footer-top > div { max-width: 15vw; }
.footer-header {  font-weight: 600; margin-bottom: 0.7vw; }
.footer-text {  margin-bottom: 0.7vw; }
.footer-bottom > * { margin-right: 8vw; display: flex; align-items: center; }
.footer-bottom > p > * { margin-right: 1.7vw;  }
.toggle-filter{
  display: none;
}

@media only screen and (max-width: 960px) {
  .header { padding: 2vw; padding-right: 4vw; margin-bottom: 2vw;}
  .showcase{ padding-bottom: 3vw; margin-bottom: 2vw;}
  .showcase-header{ margin: 1vw 0;}
  .showcase-header button{ width: 20vw;}
  .showcase-image{ aspect-ratio: 1.5/1;}
  .showcase-image p{ padding: 1vw; width: 20vw; }
  .showcase-bottom{ padding: 0 1vw; flex-direction: column;}
  .showcase-desc{ width: 100%;}
  .showcase-other{ align-items: flex-start; margin-top: 2vw; }
  .showcase-other-images > div{ width: 26vw; margin-left: 0vw; margin-top: 1vw; margin-right: 2vw; }
  .ProductCard { margin-bottom: 3vw; width: 34vw;}
  .filter { width: 20vw;}
  .cart-bubble {
    width: 3vw;
    top: 1.7vw;
    right: -2vw;
}
.cart-list{
  width: 50vw;
  right: -3.8vw;
}
.top-cart {
  padding: 1vw;
}
.cart-empty {
  height: 25vw;
}
.cart-bottom {
  padding: 1vw;
  padding-top: 2vw;
}
.cart-image {
  width: 13vw;
}
}
@media only screen and (max-width: 960px) {
  .footer { display: flex; flex-direction: column; align-items: center; padding: 5vw 4.5vw 1vw 3.5vw;}
  .footer > div { display: flex;}
  .footer-top { flex-wrap: wrap; justify-content: space-between; min-height: 40vw; width: 100%;}
  .footer-top > div { max-width: unset;}
  .footer-top > div:nth-child(1){ width: 100%; margin-bottom: 0vw;}
  .footer-text {margin-bottom: 1vw;}
  .footer-bottom > * { margin-right: 8vw; display: flex; align-items: center; }
  .footer-bottom > p > * { margin-right: 2.3vw; }
}
@media only screen and (max-width: 640px) {
  .footer {padding: 5vw 1.5vw 5vw 1.5vw;}
  .footer-top { flex-wrap: wrap; justify-content: space-between; min-height: 65vw; width: 100%;}
  .footer-top > div:nth-child(4){ display: none;}
  .footer-header { }
  .footer-text {  margin-bottom: 1vw;}
  .footer-bottom > * { margin-right: 8vw; display: flex; align-items: center;  }
  .footer-bottom > p > * { margin-right: 3.3vw; }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 3vw;
    padding-right: 6vw;
    margin-bottom: 4vw;
  }
  .showcase{
    width: 100%;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
  }
  .showcase-header button{
    width: 30vw;
  }
  .showcase-image{
    aspect-ratio: 1.2/1;
  }
  .showcase-image p{
    padding: 3vw;
    width: 50vw;
  }
  
  .showcase-bottom{
    display: flex;
    padding: 3vw 2vw;
    flex-direction: column;
  }
  .showcase-desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .showcase-other{
    margin-top: 4vw;
  }
  .showcase-other-images{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .showcase-other-images > div{
    width: 30vw;
    margin-bottom: 3vw;
  }
  
  
  .main-body {
    padding: 0 2vw;
  }
  .main-body-header{
    flex-direction: column;
    position: relative;
  }
  .main-body-header > *{
    margin-bottom: 3vw;
  }
  .toggle-filter{
    display: block;
    cursor: pointer;
  }
  .main-body-cols{
    display: flex;
    justify-content: space-between;
  }
  
  .ProductCard {
    margin: 8vw 0vw;
    margin-top: 0;
    width: 90vw;
    margin-left: 0vw;
  }
  .product-category{
    margin-top: 0.3vw;
    text-transform: capitalize;
  }
  .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .gallary-photos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
  .gallary-pages{ padding: 4vw 0; }
  .gallary-pages > *{ width: 10vw; }

  .filter{
    width: 100%;
    /* display: none; */
    position: absolute;
    background-color: white;
    border-top: 2px solid #f1f1f1;
  }
  .hideFilter{
    display: none !important;
  }
  .filter-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2vw;
  }
  .filter-header{
    font-weight: 700;
    margin-bottom: 0.3vw;
  }
  .filter-body p{
    text-transform: capitalize;
  }
  .filter-row{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.6vw 0;
  }
  .filter-row input{
    margin-right: 3vw;
    font: 1vw;
  }
  
  
  
  .showcase-bottom{
    margin: 1vw 0;
  }
  .showcase-desc-head, .showcase-desc-cat, .showcase-desc-para, .showcase-other-header{
    margin-bottom: 0.5vw;
  }
  .nav-sub{
    color: var(--GRAY);
  }
  .main-body-header-right{
    display: flex;
    align-items: center;
  }
  .main-body-header-right select{
    border: none;
    background-color: none;
    outline: none;
  }
  .bestseller-tag{
    background-color: white;
    padding: 0.5vw 3vw;
  }
  .empty-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .order-switch{
    margin-right: 0.3vw;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;
  }
  .order-switch:hover{
    background-color: #f1f1f1;
  }
  .cart{
    position: relative;
  }
  .cart-logo{
    position: relative;
    cursor: pointer;
  }
  .cart-bubble{ width: 4.5vw; top: 2vw; right: -3vw;}

  .cart-list{
    width: 80vw;
    right: -6vw;
    top: 10vw;
    border-radius: 2vw;
    padding: 2vw;
  }
  .cart-body{ max-height: 120vw; min-height: 60vw;}
  .cart-row{ padding: 2vw 0; }
  .cart-image{ width: 25vw; }
  .top-cart{ padding: 2vw;}
  .cart-bottom{ padding-top: 3vw;}
  .remove-cart{margin-top: 1vw;}
  .cart-empty{ height: 50vw; }
}


